# Data Preparation

### 1) A python program to merge data from each month into one CSV and read in updated dataframe.

In [1]:
# Importing pandas and os library
import os
import pandas as pd

file_path = "../Python_Coursework"
os.listdir(file_path)

['.ipynb_checkpoints',
 'Coursework.ipynb',
 'CW2.ipynb',
 'Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [2]:
# Step 1: creating a list named csv to store all the '.csv' files

csv = []

for each in os.listdir(file_path):
    if each.endswith('.csv'):
        csv.append(each)
        
csv

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [3]:
# Step 2: mergin all csv files into one dataframe using concat function

dataframe = pd.concat(map(pd.read_csv, csv), ignore_index = True)
dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558.0,USB-C Charging Cable,2.0,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353.0,AAA Batteries (4-pack),3.0,2.99,9/17/2019 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354.0,iPhone,1.0,700.00,9/1/2019 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355.0,iPhone,1.0,700.00,9/23/2019 7:39,"220 12th St, San Francisco, CA 94016"
186848,259356.0,34in Ultrawide Monitor,1.0,379.99,9/19/2019 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357.0,USB-C Charging Cable,1.0,11.95,9/30/2019 0:18,"250 Meadow St, San Francisco, CA 94016"

### 2) A python program to remove the NaN missing values from updated dataframe.

In [4]:
# Step 1: listing the number of null values from all columns 

dataframe.isnull().sum()

Order ID            900
Product             900
Quantity Ordered    900
Price Each          900
Order Date          900
Purchase Address    900
dtype: int64

In [5]:
# Step 2: dropping all the null values

dataframe.dropna(inplace=True, ignore_index = True)
dataframe.isnull().sum()

TypeError: dropna() got an unexpected keyword argument 'ignore_index'

In [ ]:
dataframe

### 3) A python program to convert Quantity Ordered and Price Each to numeric.

In [ ]:
dataframe['Quantity Ordered'].dtype

In [ ]:
dataframe['Price Each'].dtype

In [ ]:
# Changing datatype of 'Quantity Ordered'

dataframe['Quantity Ordered'] = dataframe['Quantity Ordered'].astype(int)
dataframe.dtypes

In [ ]:
# Changing datatype of 'Price Each'

dataframe['Price Each'] = dataframe['Price Each'].astype(int)
dataframe.dtypes

###  4) Creating a new column named 'Month' from 'Ordered Date' of updated dataframe and converting it to integer as data type.

In [ ]:
dataframe.columns

In [ ]:
dataframe.columns

In [ ]:
# Adding new column month in the dataframe
dataframe['Month'] = dataframe['Order Date']
dataframe.dtypes

In [ ]:
# This is the format in which data is stored in 'Month' column

dataframe['Month']

In [ ]:
# Here the data in column month are sitting in object format instead of date time format
# so we can't use dt.month function. Instead we'll have to split the values

dataframe['Month']=dataframe['Month'].str.strip().str.split('/').str[0]
dataframe['Month']

In [ ]:
# Type casting 'Month' column to int

dataframe['Month'] = dataframe['Month'].astype(int)

In [ ]:
dataframe.dtypes

### 5) Creating a new column named 'City' from 'Purchase Address' based on the value in updated dataframe.

In [ ]:
# In 'Purchase Address' column, data is sitting in string format we've to retrieve only the city name.

dataframe['Purchase Address']

In [ ]:
# Creating a new column 'City' and stripping 'Purchase Address'

dataframe['City']=dataframe['Purchase Address'].str.strip().str.split(',').str[1]
dataframe['City']

In [ ]:
# 

dataframe.dtypes

# Data Analysis

### 1) A Python program to show summary statistics of sum, mean, standard deviation, skewness, and kurtosis of any chosen variable.

In [ ]:
# The describe method returns description of the Quantitative data in the DataFrame.
# Here, It only describes the columns whose data type is integer or float.

dataframe.describe()

In [ ]:
# sum of Quantity Ordered and Price Each

dataframe[['Quantity Ordered', 'Price Each']].sum()

In [ ]:
# Mean of all data of 'Price Each' column

dataframe['Price Each'].mean()

In [ ]:
# Standard Deviation of 'Price Each' column

dataframe['Price Each'].std()

In [ ]:
# Skewness of 'Price Each' column

dataframe['Price Each'].skew()

In [ ]:
# Kurtosis of 'Price Each' column

dataframe['Price Each'].kurtosis()

### 2) A Python program to calculate and show correlation of all variables.

In [ ]:
dataframe.corr()

In [ ]:
import seaborn as sns

sns.heatmap(dataframe.corr(), annot = True, cmap = "Blues")

# Data Exploration

### 1) Month with best sales and earning in that month? A bar graph of sales details.

In [9]:
# Retrieving first five rows from the dataframe

dataframe.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558.0,USB-C Charging Cable,2.0,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [10]:
# Figuring out month with highest sales

dataframe['Total Price'] = dataframe['Quantity Ordered'] * dataframe['Price Each']
best_sales_month = dataframe['Total Price'].groupby(dataframe['Month']).sum()
best_sales_month

KeyError: 'Month'

In [ ]:
print("Month with Highest Sales:", best_sales_month.idxmax())
print("Earning in that month: ", best_sales_month.max())

In [ ]:
# Making Bar Graph of Total sales
import matplotlib.pyplot as plt

colors = ["#54bebe", "#76c8c8", "#98d1d1", "#badbdb", "#dedad2", "#e4bcad", "#df979e", "#d7658b", "#c80064","#de25da", "#ab3da9","#6b506b" ]
plt.bar(best_sales_month.index, best_sales_month.values, color = colors,)
plt.xlabel("Months")
plt.ylabel("Sales")
plt.title("Months with Respective Sales")
plt.show()

### 2) City that has sold the highest product.

In [7]:
# Selecting the first 5 rows of the dataframe

dataframe.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558.0,USB-C Charging Cable,2.0,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559.0,Bose SoundSport Headphones,1.0,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560.0,Google Phone,1.0,600.00,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560.0,Wired Headphones,1.0,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [8]:
# In order to find the highest_product_selling_city, we add all the 'Quantity Ordered'
# on the basis of 'City' column.

highest_product_selling_city = dataframe['Quantity Ordered'].groupby(dataframe['City'])
highest_product_selling_city

KeyError: 'City'

In [ ]:
# City with Highest Sales

print("City with highest Sales: ", highest_product_selling_city.idxmax())
print("Total Number of Product Sold:", highest_product_selling_city.max())

### 3) Product sold the most in overall and Bar Graph.

In [ ]:
# Viewing Products sold in total for the entire year

product_sold_most = dataframe['Quantity Ordered'].groupby(dataframe['Product']).sum()
product_sold_most

In [ ]:
# Showing the data in a Bar Graph

colors = ["#2e2b28", "#3b3734", "#474440", "#54504c", "#6b506b", "#ab3da9", "#de25da", "#eb44e8", "#ff80ff","#d7e1ee", "#cbd6e4", "#bfcbdb", "#b3bfd1", "#a4a2a8", "#df8879", "#c86558", "#991f17","#0000b3", "#0010d9"]
plt.bar(product_sold_most.index, product_sold_most.values, color = colors)
plt.xlabel("Products")
plt.ylabel("Quantity")
plt.title("Highest No of product Sold")
plt.xticks(rotation = -90)
plt.show()

### 4) A Python program to show histogram plot of any chosen variables with Proper Labels.

In [ ]:
dataframe.head()

In [ ]:
# Showing Sales per month data in Histogram

data = dataframe['Month']
plt.hist(data,color="#a4a2a8",edgecolor='black')
plt.xlabel('Months')
plt.ylabel("Total Sales")
plt.title("Histogram of sales per month")
plt.show()